*,
*:before,
*:after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: 0;
}

.document {
	width: 100%;
	height: 100%;
}

.page {
	color: #E7C1B8;
    overflow: hidden;
    background: #373741;
	background: radial-gradient(at center, #B1D4E0, #373741);
} 